body {
    background-image: url("assets/background.png");
    background-color: #222;
    font-family: Source Code Pro, sans-serif;
}

h1 {
    font-family: Inconsolata, Monaco, Consolas, monospace;
}


/* TODO: media queries */

header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

header h1 {
    color: #eee;
    font-size: 48pt;
}

header span {
    font-weight: bold;
    color: #eee;
}

article {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

footer {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

footer .links {
    display: flex;
    justify-content: center;
}

.links a {
    color: white;
    font-size: 48pt;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

@media (max-width: 768px) { 
    article, footer, header {
        width: 100%;
    }

    footer .links {
        flex-wrap: wrap;
    }

    .links a {
        margin: 0.25em 0.75em;
    }
 }