.story-block {
    width: 100%;
}

ul.story-display {
    display: flex;
    flex-flow: row wrap;
    list-style-type: "\2014";
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.story-display li {
    padding: 0.2em;
    margin: 0;
    margin-right: 0.5rem;
    width: 100%;
    max-height: 8rem;
}

.story-display li .story-comment {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
}


@media (min-width: 700px) {
    .story-display li {
        width: 45%;
    }
}


.story-display li.story-tag-shortstory>a {
    color: var(--red-light);
}

.story-display li.story-tag-shortstory>a:hover {
    color: var(--red-dark);
}

.story-display li.story-tag-book>a {
    color: var(--green-light);
}

.story-display li.story-tag-book>a:hover {
    color: var(--green-dark);
}
