
header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .author-name {
    margin-bottom: 0.2rem;
    font-weight: bold;
    color: var(--fg0);
}

header .author-info {    
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

header hr {
    border: 1px solid var(--fg1);
    opacity: 0.2;
    width: 50%;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

article {
    display: flex;
    margin-left: 15%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

footer {
    display: flex;
    margin-left: 15%;
    margin-top: 3rem;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: var(--bg4);
}

footer a {
    color: var(--bg4);
    text-decoration: underline dotted;
}

main {
    width: 100%;
    hyphens: auto;
}

@media (max-width: 600px) {

    header .author-name {
        text-align: center;
    }

    header hr {
        width: 90%;
    }

    article {
        width: 95%;
        margin-left: 2.5%;
    }

    footer {
        width: 100%;
        margin-left: 0;
    }
}    


@media (min-width: 700px) {
    main {
        max-width: 52rem;
    }
}

@media (min-width: 600px) and (max-width: 1280px) {

    header .author-name {
        text-align: center;
    }

    header hr {
        width: 90%;
    }

    article {
        width: 95%;
        margin-left: 2.5%;
    }

    footer {
        width: 100%;
        margin-left: 0;
    }
    body {
        width: 100vw;
    }
}

